<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="robots" content="nofollow">
    <meta name="googlebot" content="noindex">
    <title>Douglas construction Ltd.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="images/netclues-favicon.png" />
</head>

<body>
    <div id="top-blue-header-bg">
        <div id="container">
            <div class="logo"><a href="index.html"><img src="images/netclues-demo-logo.png" width="221" height="38" alt="Netclues Demo" /></a></div>
            <div class="middle-bg">
                <div class="middle-image-section">
                    <div class="image-area">
                        <div class="image-bg"><a href="option1/index.html" target="_blank"><img src="images/option1.jpg" width="261" height="173" alt="Image" /></a></div>
                        <div class="option-bg">
                            <div class="option-text"><a href="option1/index.html" target="_blank">OPTION</a></div>
                            <div class="number-text"><a href="option1/index.html" target="_blank">01</a></div>
                        </div>
                    </div>
                    <div class="image-area">
                        <div class="image-bg"><a href="option2/index.html" target="_blank"><img src="images/option2.jpg" width="261" height="173" alt="Image" /></a></div>
                        <div class="option-bg">
                            <div class="option-text"><a href="option2/index.html" target="_blank">OPTION</a></div>
                            <div class="number-text"><a href="option2/index.html" target="_blank">02</a></div>
                        </div>
                    </div>
                    <!--<div class="image-area">
  <div class="image-bg"><a href="option2/index.html" target="_blank"><img src="images/option2.jpg" width="261" height="173" alt="Image" /></a></div>
  <div class="option-bg">
    <div class="option-text"><a href="option2/index.html" target="_blank">OPTION</a></div>
    <div class="number-text"><a href="option2/index.html" target="_blank">02</a></div>
  </div>
</div>-->
                </div>
                <div class="middle-image-section">
                    <!--<div class="image-area">
  <div class="image-bg"><a href="option2/index.html" target="_blank"><img src="images/option2.jpg" width="261" height="173" alt="Image" /></a></div>
  <div class="option-bg">
    <div class="option-text"><a href="option2/index.html" target="_blank">OPTION</a></div>
    <div class="number-text"><a href="option2/index.html" target="_blank">02</a></div>
  </div>
</div>-->
                    <div class="spacer-1"></div>
                    <div class="spacer-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main-bg">
        <div class="footer-bg">
            <div class="footer-area">
                <div class="left"><a href="http://www.netclues.ky/trademark.php" target="_blank">Trademark</a></div>
                <div class="left"><a href="http://www.netclues.ky/privacypolicy.php" target="_blank">Privacy Policy</a></div>
                <div class="right">2010 &copy; Copyright Netclues. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</body>

</html>